@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

$color1: #c1d2dd;
$color2: white;
$color3: #B8B8B8;
$color4: #FFCD41;
$color5: #2092A9;

.container {
  margin-right : auto !important;
  margin-left : auto !important;
}

body {
    background-color: #c1d2dd;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.weather-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.weather-card {
    position: relative;
    overflow: hidden;
    min-width: 300px;
    height: 270px;
    background-color: $color2;
    background-repeat: no-repeat;
    background-size:cover ;
    box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
    animation: appear 500ms ease-out forwards;
    
    h1 {
        font-family: 'Lato', sans-serif;
        font-weight:300;
        font-size:50px;
        color: white;
        bottom: 0;
        margin-left: 30px;
        opacity: 0;
        transform: translateX(150px);
        animation: title-appear 500ms ease-out 500ms forwards;
    }
    
    p {
        position: absolute;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-size:28px;
        color: white;
        bottom: 0;
        left: 35px;
        animation: title-appear 1s ease-out 500ms forwards;
    }
}

.card-information {
    span {
        font-family: 'Lato', sans-serif;
        font-weight:300;
        font-size:15px;
        color: white;
        bottom: 0;
        margin-left: 30px;
        opacity: 0;
        transform: translateX(150px);
        animation: title-appear 500ms ease-out 500ms forwards;   
    }
}

.more-info {
    padding: 30px;
    span {
        font-family: 'Lato', sans-serif;
        font-weight:300;
        font-size:15px;
        color: white;
        bottom: 0;
        opacity: 0;
        transform: translateX(150px);
        animation: title-appear 500ms ease-out 500ms forwards;   
    }
}

.weather-icon {
    position: relative;
    width: 50px;
    height: 50px;
    top: 0;
    float: right;
    margin-right: 40px;
    animation: weather-icon-move 5s ease-in-out infinite;
}

.sun { 
    background: $color4; 
  border-radius: 50%; 
  box-shadow: rgba(255,255,0,0.1) 0 0 0 4px;
    animation: light 800ms ease-in-out infinite alternate, weather-icon-move 5s ease-in-out infinite;
}

@keyframes light {
    from {
        box-shadow: rgba(255,255,0,0.2) 0 0 0 10px;
    }
    to {
        box-shadow: rgba(255,255,0,0.2) 0 0 0 17px;
    }
}

.cloud { 
    margin-right:60px;
    background: darken($color1, 5%); 
  border-radius: 20px; 
    width: 25px;
    height: 25px;
    box-shadow: 
    darken($color1, 5%) 24px -6px 0 2px, 
    darken($color1, 5%) 10px 5px 0 5px, 
    darken($color1, 5%) 30px 5px 0 2px, 
        darken($color1, 5%) 11px -8px 0 -3px, 
        darken($color1, 5%) 25px 11px 0 -1px;
    
    
    &:after {
        content: "";
        position: absolute;
        border-radius: 10px;
        background-color: transparent;
        width: 4px;
        height: 12px;
        left: 0;
        top: 31px;
        transform: rotate(30deg);
        
        animation: rain 800ms ease-in-out infinite alternate;
    }
}

@keyframes rain {
    from {
        box-shadow: 
        $color5 8px 0px,
    $color5 32px -6px, 
    $color5 20px 0px;
    }
    to {
        box-shadow: 
        $color5 8px 6px,
    $color5 32px 0px, 
    $color5 20px 6px;
    }
}

@keyframes weather-icon-move {
  50% { 
        transform: translateY(-8px); 
    }
}

.inspiration {
    margin-top: 80px;
    color: darken($color1, 25%);
    font-family: 'Lato', sans-serif;
    font-weight:300;
    font-size:24px;
    text-align: center;
    
    
    a {
        color: #FF8F8F;
        font-weight:400;
        animation: all 300ms ease-in-out;
    }
}

@keyframes appear {
  0% {
    transform:scale(0);
  }
  50% {
    transform:scale(1.05)
  }
  75% {
    transform:scale(0.95)
  }
  100% {
   transform:scale(1)
  }
}

@keyframes title-appear {
    from {
        opacity: 0;
        transform: translateX(150px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

//
* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body, input {
	color: #171717;
}


.search-bar {
	display: flex;
}


.search-bar input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
	transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
	width: 3em;
	height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
	cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
	width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
	outline: transparent;
}
.search-bar {
	margin: auto;
	margin-top: 10px;
	justify-content: center;
	max-width: 30em;
}
.search-bar input {
	background: transparent;
	border-radius: 1.5em;
	box-shadow: 0 0 0 0.4em #ffffff inset;
	padding: 0.75em;
	transform: translate(0.5em,0.5em) scale(0.5);
	transform-origin: 100% 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.search-bar input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
	background: #fff;
	border-radius: 0.375em 0 0 0.375em;
	box-shadow: 0 0 0 0.1em #d9d9d9 inset;
	transform: scale(1);
}
.search-btn {
	background: #ffffff;
	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
	padding: 0.75em;
	position: relative;
	transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
	transform-origin: 0 50%;
}
.search-btn:before, 
.search-btn:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
}
.search-btn:before {
	border-radius: 50%;
	box-shadow: 0 0 0 0.2em #f1f1f1 inset;
	top: 0.75em;
	left: 0.75em;
	width: 1.2em;
	height: 1.2em;
}
.search-btn:after {
	background: #f1f1f1;
	border-radius: 0 0.25em 0.25em 0;
	top: 51%;
	left: 51%;
	width: 0.75em;
	height: 0.25em;
	transform: translate(0.2em,0) rotate(45deg);
	transform-origin: 0 50%;
}
.search-btn span {
	display: inline-block;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
	background: #2762f3;
	border-radius: 0 0.375em 0.375em 0;
	transform: scale(1);
}
.search-bar input:focus + .search-btn:before, 
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before, 
.search-bar input:valid + .search-btn:after {
	opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
	background: #0c48db;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
	transform: translateY(1px);
}



.link:hover{
	text-decoration: none;
	color: #000;
}

/*===================*/
/* BACKWARD 
/*===================*/

.backward-on-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.backward-on-hover:hover, .backward-on-hover:focus, .backward-on-hover:active {
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);
}

.weather-card-expanded {
    position: relative;
    overflow: hidden;
    width: inherit;
    height: 670px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
    animation: appear 500ms ease-out forwards;
    
    h1 {
        font-family: 'Lato', sans-serif;
        font-weight:300;
        font-size:50px;
        color: white;
        bottom: 0;
        margin-left: 30px;
        opacity: 0;
        transform: translateX(150px);
        animation: title-appear 500ms ease-out 500ms forwards;
    }
    
    p {
        position: absolute;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        font-size:28px;
        color: white;
        bottom: 0;
        left: 35px;
        animation: title-appear 1s ease-out 500ms forwards;
    }
}

.card-next-day {
  position: relative;
  overflow: hidden;
  width: inherit;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
  animation: appear 500ms ease-out forwards;
  
  h1 {
      font-family: 'Lato', sans-serif;
      font-weight:300;
      color: white;
      bottom: 0;
      margin-left: 30px;
      opacity: 0;
      transform: translateX(150px);
      animation: title-appear 500ms ease-out 500ms forwards;
  }
  
  p {
      position: absolute;
      font-family: 'Lato', sans-serif;
      font-weight: bold;
      color: white;
      bottom: 0;
      left: 10px;
      animation: title-appear 1s ease-out 500ms forwards;
  }

  span {
    font-family: 'Lato', sans-serif;
    font-weight:bold;
    font-size:15px;
    color: white;
    bottom: 0;
    margin-left: 10px;
    opacity: 0;
    transform: translateX(150px);
    animation: title-appear 500ms ease-out 500ms forwards;   
  }
}

ul {
    display: none; 
}

.map {
    height: 150px;
    width: 100%;
}

.container {
    h3 {
        color: white;
    }
}

.github-user {
    a:hover {
        opacity: 0.7;
        transition: all 0.3s ease;
    }
}

.planet-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #c1d2dd;
  }
  
  .planet {
    display: block;
    width: 125px;
    height: 125px;
    position: relative;
    transform-style: preserve-3d;
    border-radius: 50%;
    background: #fcc96b;
    background: rgb(252, 201, 107);
    background: linear-gradient(
      180deg,
      rgba(252, 201, 107, 1) 0%,
      rgba(252, 201, 107, 1) 15%,
      rgba(247, 174, 1, 1) 15%,
      rgba(247, 174, 1, 1) 19%,
      rgba(252, 201, 107, 1) 19%,
      rgba(252, 201, 107, 1) 22%,
      rgba(247, 174, 1, 1) 22%,
      rgba(247, 174, 1, 1) 28%,
      rgba(252, 201, 107, 1) 28%,
      rgba(252, 201, 107, 1) 31%,
      rgba(252, 201, 107, 1) 33%,
      rgba(252, 201, 107, 1) 36%,
      rgba(247, 174, 1, 1) 36%,
      rgba(247, 174, 1, 1) 48%,
      rgba(252, 201, 107, 1) 48%,
      rgba(252, 201, 107, 1) 55%,
      rgba(247, 174, 1, 1) 55%,
      rgba(247, 174, 1, 1) 66%,
      rgba(252, 201, 107, 1) 66%,
      rgba(252, 201, 107, 1) 70%,
      rgba(247, 174, 1, 1) 70%,
      rgba(247, 174, 1, 1) 73%,
      rgba(252, 201, 107, 1) 73%,
      rgba(252, 201, 107, 1) 82%,
      rgba(247, 174, 1, 1) 82%,
      rgba(247, 174, 1, 1) 86%,
      rgba(252, 201, 107, 1) 86%
    );
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.25),
      inset 8px -4px 6px rgba(199, 128, 0, 0.5),
      inset -8px 4px 8px rgba(255, 235, 199, 0.5),
      inset 20px -5px 12px #f7ae01,
      0 0 100px rgba(255, 255, 255, 0.35);
    transform: rotateZ(-15deg);
  }
  
  .planet::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 16px solid #7b6f42;
    border-top-width: 0;
    border-radius: 50%;
    box-shadow: 0 -2px 0 #b1a693;
    animation: rings1 0.8s infinite linear;
  }
  
  .planet::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 8px solid #b1a693;
    border-top-width: 0;
    border-radius: 50%;
    box-shadow: 0 -2px 0 #7b6f42;
    animation: rings2 0.8s infinite linear;
  }
  
  @keyframes rings1 {
    0% {
      transform: rotateX(65deg) rotateZ(0deg) scale(1.75);
    }
    100% {
      transform: rotateX(65deg) rotateZ(360deg) scale(1.75);
    }
  }
  
  @keyframes rings2 {
    0% {
      transform: rotateX(65deg) rotateZ(0deg) scale(1.7);
    }
    100% {
      transform: rotateX(65deg) rotateZ(360deg) scale(1.7);
    }
  }