<div class="main-wrapper">
	<div class="container" ng-if="showCidades">

		<form class="search-bar">
			<input pattern=".*\S.*" required id="search-cidade">
			<button class="search-btn" ng-click="buscarCidade(nomeCidade)"></button>
		</form>

		<div class="row">
			<div class="col-sm" ng-repeat="cidade in cidades">
				<div class="weather-wrapper" >
					<div class="weather-card">
						<div class="weather-icon">
							<img style ="width: 90px" src={{cidade.icon}} alt="">
						</div>
						<h1>
							{{cidade.temp}}°C
						</h1>

						<div class="card-information">
							<span>Min temp: {{cidade.temp_min}}°C</span> <br>
							<span>Max temp: {{cidade.temp_max}}°C</span> <br>
							<span>Sens. Térmica: {{cidade.temp_feels_like}}°C</span>
							
							<div class="button-week" style="margin-left: 30px; margin-top: 10px;">
								<button type="button" class="btn btn-primary btn-sm">Ver previsão semana</button>
							</div>

						</div>
						<p>{{cidade.nome}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container" ng-if="showSinglecity">

		<div class="container" style="text-align: center;">
			<a class="link backward-on-hover" ng-click="mostrarCidades()" style="font-size: 40px; cursor: pointer;"><i class="fas fa-long-arrow-alt-left"></i></a>
		</div>

		<div class="weather-wrapper" >
			<div class="weather-card">
				<div class="weather-icon">
					<img style ="width: 90px" src={{cidade.icon}} alt="">
				</div>
				<h1>
					{{cidade.temp}}°C
				</h1>

				<div class="card-information">
					<span>Min temp: {{cidade.temp_min}}°C</span> <br>
					<span>Max temp: {{cidade.temp_max}}°C</span> <br>
					<span>Sens. Térmica: {{cidade.temp_feels_like}}°C</span>
					
					<div class="button-week" style="margin-left: 30px; margin-top: 10px;">
						<button type="button" class="btn btn-primary btn-sm" disabled>Ver previsão semana</button>
					</div>

				</div>
				<p>{{cidade.nome}}</p>
			</div>
		</div>
	</div>
</div>