<head>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.6.0/css/ol.css" type="text/css">
	<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.6.0/build/ol.js"></script>

</head>

	<div class="planet-wrapper" ng-if="showLoading">
		<div class="planet"></div>
	</div>

<div class="main-wrapper">

	<div class="container" ng-if="showCidades">
		<div class="header-wrapper" style="display:flex; justify-content: space-between; align-items: center; text-align: center;">
			<div class="current-localization" ng-click="buscarCidadeAtual()">
				<button type="button" class="btn btn-primary btn-sm"><i class="fas fa-map-marker-alt"></i></button>
			</div>
			<form class="search-bar" style="padding: 0 20px;">
				<input pattern=".*\S.*" required id="search-cidade">
				<button class="search-btn" ng-click="buscarCidade(nomeCidade)"></button>
			</form>
			<div style="text-decoration: none; font-size: 40px;" class="github-user">
				<a style="color: black;" href="https://github.com/jouiwnl/weather-angularjs" target="_blank"><i class="fab fa-github"></i></a>
			</div>
		</div>

		<div class="row">
			<div class="col-sm" ng-repeat="cidade in cidades">
				<div class="weather-wrapper">
					<div class="weather-card" ng-style="{'background-image': 'url(' + cidade.backgrounds + ')'}">
						<div class="weather-icon">
							<img style ="width: 90px" src={{cidade.icon}} alt="">
						</div>
						<h1>
							{{cidade.temp}}°C
						</h1>

						<div class="card-information">
							<span>Min temp: {{cidade.temp_min}}°C</span> <br>
							<span>Max temp: {{cidade.temp_max}}°C</span> <br>
							<span>Sens. Térmica: {{cidade.temp_feels_like}}°C</span>
							
							<div class="button-week" style="margin-left: 30px; margin-top: 10px;">
								<button type="button" class="btn btn-primary btn-sm" ng-if="showButtonCard" ng-click="infoCidade(cidade.nome)">Ver mais detalhes</button>
							</div>

						</div>
						<p>{{cidade.nome}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--
	<div class="container" ng-if="showSinglecity">

		<div class="container" style="text-align: center;">
			<a class="link backward-on-hover" ng-click="mostrarCidades()" style="font-size: 40px; cursor: pointer;"><i class="fas fa-long-arrow-alt-left"></i></a>
		</div>

		<div class="weather-wrapper" >
			<div class="weather-card" ng-style="{'background-image': 'url(' + cidade.backgrounds + ')'}">
				<div class="weather-icon">
					<img style ="width: 90px" src={{cidade.icon}} alt="">
				</div>
				<h1>
					{{cidade.temp}}°C
				</h1>

				<div class="card-information">
					<span>Min temp: {{cidade.temp_min}}°C</span> <br>
					<span>Max temp: {{cidade.temp_max}}°C</span> <br>
					<span>Sens. Térmica: {{cidade.temp_feels_like}}°C</span>
					
					<div class="button-week" style="margin-left: 30px; margin-top: 10px;">
						<button type="button" class="btn btn-primary btn-sm" ng-click="infoCidade(cidade.nome)">Ver mais detalhes</button>
					</div>

				</div>
				<p>{{cidade.nome}}</p>
			</div>
		</div>
	</div>
	-->

	<div class="container" ng-if="showInfoCity">

		<div class="container" style="text-align: center;">
			<a class="link backward-on-hover" ng-click="mostrarCidades()" style="font-size: 40px; cursor: pointer;"><i class="fas fa-long-arrow-alt-left"></i></a>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm">
					<div class="weather-wrapper" >
						<div class="weather-card-expanded" ng-style="{'background-image': 'url(' + cidade.backgrounds + ')'}">
							<div class="weather-icon">
								<img style ="width: 90px" src={{cidade.icon}} alt="">
							</div>
							<h1>
								{{cidade.temp}}°C
							</h1>
			
							<div class="card-information">
								<span>Min temp: {{cidade.temp_min}}°C</span> <br>
								<span>Max temp: {{cidade.temp_max}}°C</span> <br>
								<span>Sens. Térmica: {{cidade.temp_feels_like}}°C</span>
							</div>
			
							<div class="more-info" style="display: flex; justify-content: space-between;">
								<span>{{cidade.wind}}km/h <i class="fas fa-wind"></i></span>
								<span>{{cidade.pressure}}Pa <i class="fas fa-level-down-alt"></i></span>
								<span>{{cidade.humidity}}% <i class="fas fa-tint"></i></span>	
			
							</div>
			
							<div class="container">
								<h3>Localização</h3>
								<div id="map" class="map">
									{{cidade.mapa}}
								</div>	
							</div>
			
							<p>{{cidade.nome}}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="weather-wrapper" style="height: 1px; background-color: lightslategray; margin-bottom: 7px;"></div>
			<div class="row">
				<div class="col-sm">
					<div class="weather-wrapper">
						<div class="card-next-day" ng-repeat="dia in cidade.previsaoSemana" ng-style="{'background-image': 'url(' + dia.background + ')'}">
							<div class="info-wrapper" style="display:flex; flex-direction: row; justify-content: space-between; text-align: center;">
									<span style="margin-top: 10px;">{{dia.nome_dia}}</span>
									<span style="margin-right: 10px; margin-top: 6px;">{{dia.temp_day}}°C <img src={{dia.icon}} alt="" style="max-width: 40px; max-height: 40px;"></span>										
							</div>
						</div>
					</div>
				</div>				
			</div>
		</div>
		
	</div>
</div>